.aside {
  width: 15%;
  // display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 60px;
  height: 100%;
  display: none;
  margin-bottom: 40px;
}
.aside-page__list {
  margin-bottom: 16%;
}
.aside-page__item {
  margin-bottom: 8%;

  &:last-child {
    margin-bottom: 0;
  }

}
.aside-header {
  display: none;
}
.aside-page__item .aside-page__link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}
.aside-page__item:nth-child(1) .aside-page__link::before {
  background-image: url("../img/home-icon.svg");
}
.aside-page__item:nth-child(2) .aside-page__link::before {
  background-image: url("../img/trend-icon.svg");
}
.aside-page__item:nth-child(3) .aside-page__link::before {
  background-image: url("../img/subs-icon.svg");
}
.aside-page__link {
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  &:hover {
    color: #FF0000;
  }
}
.aside-home__list {
  margin-bottom: 16%;
}
.aside-home__item {
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.aside-home__item .aside-home__link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.aside-home__item:nth-child(1) .aside-home__link::before {
  background-image: url("../img/library-icon.svg");
}
.aside-home__item:nth-child(2) .aside-home__link::before {
  background-image: url("../img/history-icon.svg");
}
.aside-home__item:nth-child(3) .aside-home__link::before {
  background-image: url("../img/later-icon.svg");
}
.aside-home__item:nth-child(4) .aside-home__link::before {
  background-image: url("../img/fav-icon.svg");
}
.aside-home__item:nth-child(5) .aside-home__link::before {
  background-image: url("../img/like-icon.svg");
}
.aside-home__item:nth-child(6) .aside-home__link::before {
  background-image: url("../img/music-icon.svg");
}
.aside-home__item:nth-child(7) .aside-home__link::before {
  background-image: url("../img/game-icon.svg");
}
.aside-home__item:nth-child(8) .aside-home__link::before {
  background-image: url("../img/chevron-down.svg");
}



.aside-home__link {
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  &:hover {
    color: #FF0000;
  }
}
.aside__wrapper {
  margin-bottom: 20%;
}
.aside-subscriptions__list {
  margin-bottom: 20%;
}
.aside-subscriptions__title {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10%;
}
.aside-subscriptions__item {
  margin-bottom: 8%;
  &:last-child {
    margin-bottom: 0;
  }
}


.aside-subscriptions__item .aside-subscriptions__link::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
  flex-shrink: 0;
  background-color: red;
  border-radius: 50%;
}




.aside-subscriptions__link {
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  &:hover {
    color: #FF0000;
  }
}
.aside__btn {
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
  display: flex;
  align-items: center;
  transform: color 0.3s ease;
  &:hover {
    color: #000;
  }
}





.aside {
  display: none;
}
.main-body--open .aside {
  display: flex;
}




@include breakpoint-down (1350) {
  .aside-header {
    display: flex;
    margin-bottom: 30px;
  }
  .aside {
    display: none;
    overflow-y: auto;
  }
  .aside-header .menu-burger {
    margin-right: 10px;
  }
  .aside-header .logo {
    margin-right: 0;
    display: block;
  }
  .aside-header .logo-img {
    display: block;
  }
  .main-body--open .aside {
    display: flex;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
  }
  .main-body--open {
    overflow-y: hidden;
  }
}



@include breakpoint-down (1000) {
  .main-body--open .aside {
    width: 40%;
  }
}
@include breakpoint-down (800) {
  .main-body--open .aside {
    display: none;
  }
}
